body {
  font-size: 1.1rem;
}

@media (max-width: 960px) {
  body {
    font-size: 0.9rem;
  }
}

#message {
  z-index: 9999;
}

.task-content {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 100;
}

.task-swipe-wrapper {
  position: relative;
  overflow: hidden;
}

.swipe-bg{
  z-index: 0;
}

.task-swipe-wrapper {
  position: relative;
  overflow: hidden;
}

.swipe-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 0;
  background: #f0f0f0;
}

.swipe-left,
.swipe-right {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  height: 100%;
  align-content: center;
  width: 50%;
}

.swipe-left {
  background-color: #dc3545; /* red - delete */
  text-align: start;
}

.swipe-right {
  background-color: #28a745; /* green - complete */
  text-align: end;
}


@media (max-width:576px){
  .modal-lg{
    max-width: 95% !important;
  }
}

.task-content {
  transition: transform 0.3s ease-in-out;
}


#fab{
  z-index: 999999999;
}